:root {
    --show-page-animation: show-page 1.5s forwards;
}
.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 95%;
}
.hero-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px 0;
    animation: var(--show-page-animation);
}
.hero-details__thumbnail {
    max-width: 350px;
    margin-left: 20px;
    animation: var(--show-page-animation);
}
.hero-details__description {
    max-width: 400px;
    animation: var(--show-page-animation);
}
.hero-comics {
    display: flex;
    flex-direction: column;
    animation: var(--show-page-animation);
}
.hero-comics__title {
    margin-left: 10px;
}
.hero-comics__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    animation: var(--show-page-animation);
}
.hero-comics__card {
    display: flex;
    flex-flow: column;
    align-items: center;
    box-sizing: content-box;
    margin: 10px;
    padding: 10px;
    min-height: 300px;
    animation: var(--show-page-animation);
}
.hero-comics__card-title {
    text-align: center;
    max-width: 150px;
    margin: 10px 0;
}

a {
    text-decoration: none;
}
a:hover .hero-comics__card{
    background-color: #F3F3F3;
}
a:hover .hero-comics__card-title{
    color: #E81127;
}

.hero-trans-enter {
    opacity: 0;
}
.hero-trans-active {
    opacity: 1;
    transition: opacity 200ms;
}
.hero-trans-exit {
    opacity: 1;
}
.hero-trans-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}

@keyframes show-page {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}